<div class='container'>
    <div class="card red darken-1 z-depth-3">
        <div class="card-content">
            <div class="center-align">
                <h4>Library</h4>
            </div>
        </div>
    </div>
</div>


<%if(albums.length > 0) {%>
    <div class='parallax-container'>
        <div class='parallax'>
            <% let index = Math.floor(Math.random() * albums.length)%>
            <% console.log(albums.length) %> 
            <% console.log({index}) %> 
            <img src='<%=albums[index].dataValues.pictureUrl%>'>
        </div>
    </div>
<% } %>

<br> 

<% if (albums.length > 4) {  %>
    <div class='carousel'>
        <a class='carousel-item' href="#one!"><img src=<%=albums[0].dataValues.pictureUrl%>></a>
        <a class='carousel-item' href="#two!"><img src=<%=albums[1].dataValues.pictureUrl%>></a>
        <a class='carousel-item' href="#three!"><img src=<%=albums[2].dataValues.pictureUrl%>></a>
        <a class='carousel-item' href="#four!"><img src=<%=albums[3].dataValues.pictureUrl%>></a>
        <a class='carousel-item' href="#five!"><img src=<%=albums[4].dataValues.pictureUrl%>></a>
    </div>
<% } %>

<div class="library">
    <% albums.forEach(album => { %>
        <div class="album">
            <div class='z-depth-4'>
                <img src=<%=album.dataValues.pictureUrl%> width='220px' height='220px'>
            </div>
            <div class="options">
                <a class="waves-effect waves-teal btn-small cyan" href="/album/?id=<%=`${album.dataValues.spotify}`%>">Info</a>
                <br>
                <form method="POST" action="/album/<%=album.dataValues.name%>/?_method=DELETE">
                    <button class="btn-small waves-effect waves-light red darken-3" type="submit" name="action">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    <% }) %> 
</div>

<%if(albums.length > 0) {%>
    <div class='parallax-container'>
        <div class='parallax'>
            <% let index = Math.floor(Math.random() * albums.length)%>
            <% console.log(albums.length) %> 
            <% console.log({index}) %> 
            <img src='<%=albums[index].dataValues.pictureUrl%>'>
        </div>
    </div>
<% } %>




