
<div class='results'>
    <% results.forEach(result => { %>
        <div class='panel'>
        <img src='<%=result.images[0].url%>' height=230px width=230px>
                <form method="POST" action="/album">
                    <input type="hidden" name="name" id="name" value="<%=`${result.name}`%>">
                    <input type="hidden" name="artist" id="artist" value="<%=`${result.artists[0].name}`%>">
                    <input type="hidden" name="releaseYear" id="releaseYear" value="<%=`${result.release_date}`%>">
                    <input type="hidden" name="pictureUrl" id="pictureUrl" value="<%=`${result.images[0].url}`%>">
                    <input type="hidden" name="spotify" id="spotify" value="<%=`${result.id}`%>">
                    <div class='center-align'>
                        <button class="btn-small waves-effect waves-light" type="submit" value="Add">
                            Add
                        </button>
                    </div>
            </form>
            </div>
        <% }) %> 
    
</div>
            