
<div class='container center-align'>
    <h2>Choose a playlist:</h2>

    <ul>
    <% playlists.forEach(playlist => { %> 
        <li>
            <form method="POST" action="/track">
                <input type='hidden' name='trackName' value="<%=trackName%>">
                <input type='hidden' name='trackPic' value=<%=trackPic%>>
                <input type='hidden' name='trackLength' value=<%=trackLength%>>
                <input type='hidden' name='playlist' value="<%=playlist.name%>">
                <button class='btn waves-effect waves-light' type='submit' name='action'>
                    <%=playlist.name%>
                    <i class='material-icons right'>add</i>
                </button>
            </form>
        </li>
        <br>
    <% }) %>
    </ul>
</div>

