<h1>Playlist Edit Form</h1>

<form method="POST" action="/playlists/<%=playlist.name%>/?_method=PUT">
    <label for='name'>Name</label>
    <input id='name' name='name' value='<%=playlist.name%>'>
    <input type='submit'>
</form>

<% tracks.forEach(track => { %>
    <p><%=track.name%></p><br>
    <form method="POST" action="/track/<%=track.name%>/?_method=DELETE">
        <input type='hidden' name='name' value='<%= playlist.name %>'>
        <input type="submit" value="Delete">
    </form>
<% }) %> 